@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background: url("./background.svg") center center;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(240, 172, 70);
  font-family: "Raleway", sans-serif;
  z-index: 999;
}

.header-style {
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
}

.logo img {
  max-width: 100%;
}

a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: black;
}

h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  background-color: rgba(51, 51, 51, 0.5);
  text-shadow: 1px 1px 2px black;
}

.book-div {
  width: 100%;
  margin: 2rem 0 0 0;
}

.book-div,
.book-info {
  display: flex;
}

.book-img {
  width: 20rem;
  margin: 7rem 2rem 0 2rem;
}

.book-img img {
  max-width: 100%;
}

.book-img img:hover {
  cursor: pointer;
}

.book-info {
  flex-direction: column;
  width: 70%;
  height: 60%; /*!opravi*/
  margin: 1rem 0;
  margin-top: 3rem;
  background: rgba(51, 51, 51, 0.5);
  border-radius: 1rem;
}

.book-info h3 {
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

.book-info h4 {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.35rem;
  font-family: "Raleway", sans-serif;
}

.book-info p {
  font-size: 1.5rem;
  padding: 3rem 15rem;
  line-height: 2rem;
  font-family: "Raleway", sans-serif;
}

.book-info:hover {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.719));
}

.buy-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: "Raleway", sans-serif;
  outline: none;
}

.buy-button button {
  margin: 0.5rem;
  width: 9rem;
  font-size: 1.5rem;
  height: 3rem;
  background: transparent;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.buy-button button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
  transition: all 0.5s ease-out;
}

.buy-button span {
  font-size: 1.75rem;
}

.footer {
  display: flex;
  padding: .5rem;
  border-radius: 0;
  width: 100%;
  z-index: 1;
  background-color:  rgba(0, 0, 0, 0.5);
}

.connect {
  display: flex;
  width: 100%;
  padding-top: .3rem;
  padding-left: 2%;
}

.connect span {
  justify-content: flex-start;
  margin-right: 10%;
}

.connect p {
  justify-self: center;
  margin-left: 20%;
  margin-right: 20%;
}

.connect span,
.connect p {
  font-family: "Raleway", sans-serif;
  padding-top: .5rem;
}

.fa-brands {
  width: 3rem;
 
}

/*!pages*/

.book-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 5rem 0;
}

.book-img-page2 {
  margin: 2rem;
  justify-content: center;
  width: 35rem;
  display: flex;
  margin-bottom: 1rem;
}

.book-img-page2 img {
  max-width: 80%;
}

.book-img-page2 img:hover,
.book-img img:hover {
  filter: drop-shadow(0 0 0.75rem rgb(238, 233, 169));
  transform: translateY(-10px);
  transition: all 0.5s ease-out;
}

.book-information {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: rgba(121, 120, 120, 0.578);
  height: 20rem;
  padding-top: 2rem;
  width: 50%;
  margin: 10rem 5rem 15rem 2rem;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.book-information h3 {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 1px 1px 2px black;
}


.book-information p {
  text-align: center;
  margin-left: 11rem;
  padding: 0.5rem;
  width: 50%;
  font-size: 1.3rem;
  line-height: 2rem;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px 2px black;
}

.book-information h3:hover,
.book-information p:hover {
  text-shadow: #FC0 1px 0 10px;
}

.short-info,
.row-header h2,
.text-page p,
.book-list li {
  animation-duration: 1.5s;
  animation-name: slidein
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} 

/*!stars*/

.stars-div {
  height: 12rem;
  width: 100%;
  display: flex;
  float: right;
  margin-right: 2rem;
}

.stars {
  display: flex;
  width: 50rem;
  height: 7rem;
  padding: 2rem 1rem;
  margin-top: 5rem;
  border-radius: 1rem;
  background: rgba(121, 120, 120, 0.578);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.stars.disabled {
  pointer-events: none;
}

.stars a {
  opacity: 50%;
  cursor: pointer;
  padding: 0.3rem;
}

.stars:hover a,
.stars a:hover {
  opacity: 100%;
  transform: translateY(-10px);
  transition: all 0.5s ease-out;
}

.stars:active {
  background: none;
}

.stars a:hover ~ a {
  opacity: 50%;
}

.stars a.active {
  opacity: 100%;
}

/*!btn*/
#btn:hover {
  background-color: rgba(20, 18, 18, 0.578);
  transform: translateY(-10px);
  transition: all 0.5s ease-out;
}

#btn {
  background: rgba(121, 120, 120, 0.578);
  border-radius: 1rem;
  width: 100%;
  outline: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 2px black;
}

/*!form*/

#form { 
  padding: 1rem;
  position: absolute;
  z-index: 998;
  background: rgba(14, 42, 71, 1);
  width: 21rem;
  transition: 200ms ease-in-out;
  border: 0.1rem solid black;
  border-radius: 1rem;
  top: -30rem;
  left: 20rem;
  transform: translate(20%, 20%);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  margin: 2%;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 0;
}

.close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 17rem;
  margin-bottom: 0.5rem;
}

label {
  display: inline-block;
  width: 20rem;
  text-align: center;
}

input,
textarea {
  font: 100% sans-serif;
  /*text field size */
  width: 18rem;
  box-sizing: border-box;
  margin: 0.3rem;
  color: black;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.order-button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
}

.order-button button {
  line-height: 2;
  width: 7rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(199, 44, 44, 0.788);
  cursor: pointer;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.order-button button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.order-button button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.full-description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 1rem;
  padding: 3rem;
  background: rgba(121, 120, 120, 0.578);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  text-shadow: 1px 1px 2px black;
}

.full-description-content:hover {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.719));
}

.row-header h2 {
  background: none;
  font-family: Courier, monospace;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.full-description-content p {
  line-height: 0;
}

.text-page p {
  line-height: 2rem;
  font-family: "Raleway", sans-serif;
  text-align: left;
  padding-bottom: 2rem;
}

.book-list {
  padding: 1rem 3rem 2rem 3rem;
}

.book-list li {
  font-family: "Raleway", sans-serif;
  list-style-type: disc;
  background: none;
  line-height: 2;
  text-align: left;
}

@media (width <= 1000px) {

  h2 {
    font-size: 2rem;
  }

  .book-div,
  .book-div-container {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .book-img img,
  .book-img-page2 img {
    max-width: 60%;
  }

  .book-img,
  .book-info {
    flex-basis: 100%;
  }

  .book-info h3 {
    font-size: 2rem;
  }

  .book-info h4 {
    font-size: 1.5rem;
  }

  .book-info p {
    padding: 2rem;
    text-align: left;
    font-size: 1.25rem;
  }

  .book-div-container {
    height: auto;
  }

  .book-information {
    align-items: center;
    width: 80%;
    margin: 5rem 1rem 10rem 1rem;
  }

  .book-information h3 {
    font-size: 1.5rem;
    flex-wrap: wrap;
  }

  .book-information p {
    font-size: 1rem;
    margin-left: 0;
    width: 70%;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .stars-div {
    width: 100%;
  }

  .stars {
    margin-left: 2rem;
    width: 40rem;
  }

  #form {
    top: -39rem;
    left: -12.5rem;
    transform: translate(20%, 20%);
    width: 15rem;
    margin-left: 2rem;
  }

  input, textarea {
    width: 12rem;
  }

  .close {
    margin-left: 12rem;
  }

  .buy-button {
    padding: 0;
  }

  #btn {
   width: 50%;
  }

  .full-description-content h2,
  .full-description-content p {
    text-align: left;
  }

  .row-header h2 {
    font-size: 2rem;
  }

  .book-list {
    padding: 1rem;
  }

  .footer {
    flex-wrap: wrap;
  }

  .footer span,
  .footer p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1rem;
  }

  .github-img {
    margin-left: 5%;
  }
  
  .github-img img{
      width: 60%;

  }

  .linkedin-img img {
    width: 100%;
    height: 100%;
  }
}
